@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&display=swap");

@import url(header.css);
@import url(base.css);
@import url(secao.css);
@import url(cartao.css);
@import url(card-lancamento.css);
@import url(barra-ferramentas.css);
@import url(responsivo.css);
@import url(footer.css);

:root {
  --branco-fraco: rgba(255, 255, 255, 0.7);
  --branco: #fff;
  --cinza: #b3b3b3;
  --preto-claro: #282828;
  --preto: #121212;
  --verde: #1ed760;
  --preto-preto: #000;
  --fundo-gradiente: linear-gradient(
    172deg,
    #3b13b0 0%,
    #271363 6.4%,
    #1b1235 13.7%,
    #121212 21.6%
  );
}

/*Reset*/
a {
  text-decoration: none;
  color: inherit;
}

a {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent; /* Remove o efeito em dispositivos móveis */
}

li {
  list-style: none;
}

body {
  display: grid;
  grid-template-columns: auto;
  background: no-repeat var(--fundo-gradiente);
  min-height: 100vh;
  padding-bottom: 60px;
  margin-top: 0px;
  width: auto;
  /* right: 0;
  width: 0; */
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--branco);
}

/* h2, h3, p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px; /* Defina a largura desejada */
