.categoria {
  display: flex;
  font-size: 24px;
  /* margin-left: 10px; */
  margin: 10px 0 -10px 10px;
}

.carousel-container {
  width: auto;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #888 #121212;
  /* margin: 0 -10px 0 20px; */
/*   margin: 0 0 0 -2%; */
  align-items: baseline;
}
.carousel-container::-webkit-scrollbar {
  height: 8px;
}
.carousel-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.carousel {
  display: inline-flex;
  gap: 15px;
  padding: 20px;
}
.card {
  /* background: #1e1e1e; */
  width: 180px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  /* padding: 10px; */
  flex-shrink: 0;
}
.capa {
  width: 100%;
  border-radius: 4px;
}
/* .card h3 {
  font-size: 16px;
  margin: 10px 0 5px;
} */
/* .card p {
  font-size: 14px;
  color: #b3b3b3;
} */

.link-card {
  display: block;
  text-decoration: none;
}

.capa:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.nome-musica,
.nome-artista {
  text-align: left;
  white-space: normal; /* Permite quebras automáticas */
  display: block; /* Garante que o h3 ocupe toda a largura disponível */
  width: 100%; /* Ajusta a largura para respeitar o contêiner */
}

.nome-musica {
  font-size: 15px;
  margin: 10px 0 5px;
}

/* ---------------------------------------------------------- */

.carrossel-recentes {
  display: inline-flex;
  align-items: baseline;
  gap: 0;
  padding: 20px;
  margin: 0 0 0 -2%;
  max-height: 100%;
}

.container-categorias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 -40px 10px;
  max-height: 100%;
}

.categorias {
  /* margin: 0 0 -10px 0; */
  font-size: 24px;
}

.categorias__link {
  color: #1db954;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
}

.capa-normal {
  align-items: normal;
  width: 60%;
  height: 60%;
  border-radius: 4px;
}

.capa-redonda {
  align-items: normal;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  /* margin-right: 0; */
}

.artista {
  color: #888;
}

.link-cards {
  display: block;
  text-decoration: none;
  margin: 0 0 0 -3vh;
}

.redonda {
  text-align: center;
  margin: 0 0 -6px 0;
}
